.config, #trackForm, button {
    display: inline-block;
}

#trackForm, button {
    float: left;
    z-index: 1;
}

.h1 {
    text-align: center;
    display: block;
    font-size: 32px;
    margin: auto;
    margin-top: -10px;
}

.nav {
    margin-top: -35px;
}

#trackForm {
    display: none;
}

.lstn {
    color: white !important;
}

.config {
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s all;
    opacity: 0.3;
}

.config:hover {
    opacity: 1;
}

.config > * {
    margin-bottom: -10px;
}


.volumeContainer:hover{
    transition: 0.5s all;
    cursor:pointer;
    opacity: 0.9;
}
.volumeContainer {
    opacity: 0.3;
}

.volumeLabel {
    position: absolute;
    right: 150px;
    top: 14px;
}