@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Josefin+Sans';
@import 'http://meyerweb.com/eric/tools/css/reset/reset.css';

a{
	text-decoration: none;
	color: #0091EA;
}

html,body{
	background-color: #0288D1;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
	font-size: 16px;
    overflow-x: hidden;
    visibility: hidden;
}

header{
    position: relative;;
    width: 100%;
    height: 50px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.header-text{
	float: left;
	font-size: 1.6em;
	line-height: 1em;
}

.offline-text{
	font-size: 0.4em;
	visibility: hidden;
}

.events-remaining{
	float:right;
	margin-right: 5%;
    margin-top: 30px;
}

.events-remaining-text, .events-remaining-value{
	font-size: 0.8em;
	visibility: hidden;
}

#volumeSlider{
    cursor:pointer;
    position: absolute;
    top: 15px;
    right: 40px;
    width: 100px;
    opacity: 0.3;
    border-radius: 5px;
}

#volumeSlider:hover{
    cursor:pointer;
    opacity: 0.9;
}

#area{
	width: 100%;
	position: relative;
	height: calc(100vh - 50px);
}

circle {
    fill-opacity: 0.8;
}

.label {
    font: 1.0em 'Source Sans Pro', sans-serif;
}

.config, #trackForm, button {
    display: inline-block;
}
#trackForm, button {
    float: left;
}